body {
  font-family: 'Open Sans', sans-serif;
}

html,body,#message-content {
  height: 50vh;
}

#message-content {
  position: relative;
}

#full-message {
  position: relative;
  top: 15%;
  bottom: 25%;
  border:5%;
  text-align: center;
}

#message-wrapper{
  max-height: 30vh;
  font-size: 5vh;
  
}

#logos {
  position: fixed;
  left: 0;
  bottom: 0rem;
}

.logo {
  font-size: 10vh;
  float: left;
  padding-left: 1rem;
}

.logo img {
  max-height: 10vh;
  max-width: 20vw;
}
