body {
  font-family: 'Open Sans', sans-serif;
}

html,body,#message-content {
  height: 50vw;
}

#message-content {
  position: relative;
}

#full-message {
  position: absolute;
  top: 15%;
  bottom: 25%;
  border:5%;
  text-align: center;
}

#logos {
  position: fixed;
  left: 0;
  bottom: 0rem;
}

.logo {
  font-size: 5vw;
  float: left;
  padding-left: 1rem;
}

.logo img {
  max-height: 5vw;
  max-width: 100%;
}
