body {
  font-family: 'Open Sans', sans-serif;
}

html,body {
  height: 100%;
}

#message-content {
  position: relative;
  height: 90vh;
}

.padding {
  padding: 1rem;
}

#logos {
  position: fixed;
  left: 0;
  bottom: 0rem;
}

.section {
  width: 33%;
  height: 100%;
  float: left;
}

#names-content {
  overflow-y: auto;
}

.logo {
  font-size: 10vh;
  float: left;
  padding-left: 1rem;
}

.logo img {
  max-height: 10vh;
  max-width: 20vw;
}
